robot# { id = 0; pos  = [ 0 0 0 ]; rpy  = [ 0 0 0 ]; dims = [ 0.1 0.1 0.3 ]; hokuyo.pos = [ 0.0 0 0.5];}
: greywall { rgba = [ .1 .1 .1 1]; rpy  = [ 0 0 0 ]; shine = 0.1; }
//Ground
sim_object# : greywall { pos  = [ 0 0 0 ]; rgba = [ .1, .1, .1, 1]; dims = [ 150 150 0.01 ]; shine = 1;}

//Finite corridor
sim_object# : greywall { pos = [-2,4,0]; rgba = [0.1,0.1,0.1,1]; dims = [0.01,12,4]; shine = 0.8; }
sim_object# : greywall { pos = [4,10,0]; rgba = [0.1,0.1,0.1,1]; dims = [12,0.01,4]; shine = 0.8; }
sim_object# : greywall { pos = [10,4,0]; rgba = [0.1,0.1,0.1,1]; dims = [0.01,-12,4]; shine = 0.8; }
sim_object# : greywall { pos = [4,-2,0]; rgba = [0.1,0.1,0.1,1]; dims = [-12,0.01,4]; shine = 0.8; }
sim_object# : greywall { pos = [1,2,0]; rgba = [0.1,0.1,0.1,1]; dims = [2,0.01,4]; shine = 0.8; }
sim_object# : greywall { pos = [2,1,0]; rgba = [0.1,0.1,0.1,1]; dims = [0.01,-2,4]; shine = 0.8; }
sim_object# : greywall { pos = [7,2,0]; rgba = [0.1,0.1,0.1,1]; dims = [2,0.01,4]; shine = 0.8; }
sim_object# : greywall { pos = [8,1,0]; rgba = [0.1,0.1,0.1,1]; dims = [0.01,-2,4]; shine = 0.8; }
sim_object# : greywall { pos = [4,5,0]; rgba = [0.1,0.1,0.1,1]; dims = [2,0.01,4]; shine = 0.8; }
sim_object# : greywall { pos = [5,4,0]; rgba = [0.1,0.1,0.1,1]; dims = [0.01,-2,4]; shine = 0.8; }
sim_object# : greywall { pos = [7,8,0]; rgba = [0.1,0.1,0.1,1]; dims = [2,0.01,4]; shine = 0.8; }
sim_object# : greywall { pos = [8,7,0]; rgba = [0.1,0.1,0.1,1]; dims = [0.01,-2,4]; shine = 0.8; }
