robot# { id = 0; pos  = [ 0 0 0 ]; rpy  = [ 0 0 0 ]; dims = [ 0.1 0.1 0.3 ]; hokuyo.pos = [ 0.0 0 0.5];}
: greywall { rgba = [ .1 .1 .1 1]; rpy  = [ 0 0 0 ]; shine = 0.1; }
//Ground
sim_object# : greywall { pos  = [ 0 0 0 ]; rgba = [ .1, .1, .1, 1]; dims = [ 150 150 0.01 ]; shine = 1;}

//Finite corridor
//Mirror scence
sim_object# : greywall { pos = [-2,0,0]; rgba = [0.1,0.1,0.1,1]; dims = [0.01,-4,4]; shine = 0.8; }
sim_object# : greywall { pos = [4,2,0]; rgba = [0.1,0.1,0.1,1]; dims = [12,0.01,4]; shine = 0.8; }
sim_object# : greywall { pos = [4,-2,0]; rgba = [0.1,0.1,0.1,1]; dims = [12,0.01,4]; shine = 0.8; }
sim_object# : greywall { pos = [10,2.5,0]; rgba = [0.1,0.1,0.1,1]; dims = [0.01,1,4]; shine = 0.8; }
sim_object# : greywall { pos = [11,3,0]; rgba = [0.1,0.1,0.1,1]; dims = [2,0.01,4]; shine = 0.8; }
sim_object# : greywall { pos = [12,0,0]; rgba = [0.1,0.1,0.1,1]; dims = [0.01,-6,4]; shine = 0.8; }
sim_object# : greywall { pos = [11,-3,0]; rgba = [0.1,0.1,0.1,1]; dims = [-2,0.01,4]; shine = 0.8; }
sim_object# : greywall { pos = [10,-2.5,0]; rgba = [0.1,0.1,0.1,1]; dims = [0.01,1,4]; shine = 0.8; }
